* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background-color: #2f67fa;
    color: white;
}



.container{
    /*background: no-repeat center center;*/
    /*background-size: cover;*/
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2f67fa;
    color: white;
}
