* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background-color: #2f67fa;
    /*background-image: radial-gradient(#020024, #2f67fa,#00D4FF);*/
    color: white;
    font-family: montserrat, sans-serif;
}
h1{
    text-align: center;
    vertical-align: middle;
    margin: auto;
    font-family: montserrat, sans-serif;

}
p {
    text-align:center;
    font-family: montserrat, sans-serif;
}

.container{
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 5rem;
    /*background-color: rgb(47,103,250);*/
    background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(47,103,250,1) 35%, rgb(0, 212, 255) 100%);
    color: white;
    font-family: montserrat, sans-serif;

}
p {
    margin-bottom:5rem;
    padding-bottom: 5rem;
    padding-right: 5rem;
    padding-left: 5rem;

}
.card-group {
    padding: 10px;
    background: #2f67fa;
}