






/*JUMBOTRON*/
h1 {

}
p {

}
.jumbotron {
    background:  no-repeat center center;
    background-size: cover;
    margin:10px;
    background-color: #2f67fa;

/*}*/
/*.flexbox-container {*/
/*    justify-content: center;*/
img[alt="entertaining"] {
    border: black solid;
    text-align: center;
}